/* ------------------------------------------------------------------------------------------------ */
/* Content */
/* ------------------------------------------------------------------------------------------------ */

// Homepage
.slider-home
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  .slider
    padding: 40px 0 0 0
    position: relative
    img
      max-height: 810px
      object-fit: contain
    .text
      height: 100%
      width: 100%
      display: flex
      justify-content: center
      flex-direction: column
      padding: 70px 0px 10px 100px
      margin-top: -120px
      h2
        font-size: 20px
        line-height: 1.1em
        margin-bottom: 15px
        text-transform: uppercase
      h3
        font-size: 75px
        line-height: 1.1em
        margin-bottom: 15px
        text-transform: uppercase
      .btn-wline
        display: inline-block
        margin: 0
        text-decoration: none
        vertical-align: middle
        cursor: pointer
        white-space: nowrap
        // transition: all 0.4s ease-in-out
        outline: none
        background: rgba(0,0,0,0)
        color: #000000
        position: relative
        font-weight: 600
        &:before
          content: ""
          display: inline-block
          background: #030d1d
          vertical-align: middle
          width: 320px
          height: 1px
          margin-right: 12px
          // transition: all 0.4s ease-in-out
        &:hover
          color: #4c834a
          &:before
            background: #4c834a

    .owl-dots
      position: absolute
      bottom: 110px
      right: calc(50% + 12px)
      width: 75px
      .owl-dot
        width: 100%
        display: block
        text-align: right
        outline: none
        margin-bottom: 8px
        padding-bottom: 6px
        span
          display: inline-block
          font-size: 18px
          line-height: 1.1
          font-weight: bold
          color: #b4b4b4
          width: auto
          height: auto
          background: transparent
        &.active
          border-bottom: 1px solid #4c834a
          span
            color: #000
  +responsive(1599px, 0)
    .slider
      .text
        h3
          font-size: 55px
  +maxtablet
    .slider
      .text
        padding: 150px 0px 10px 0px
        h3
          font-size: 32px
        .btn-wline
          &:before
            width: 55%

      .owl-dots
        bottom: 20px
  +mobile
    .slider
      .text
        padding: 0
        margin-top: 0
        margin-bottom: 30px
      .owl-dots
        right: 10px

.home-category
  padding-top: 90px
  .col-lg-2
    align-items: center
    justify-content: center
    display: flex
    flex-direction: column
  .icon
    width: 80px
    height: 80px
    margin: 0 auto
    background-size: contain
    background-repeat: no-repeat
    background-position: center
  .btn
    margin-top: 20px
    display: inline-block
  +maxtablet
    .col-lg-2
      margin-bottom: 30px
  +mobile
    .slider-xs
      margin-left: 0
      margin-right: 0
    .btn
      font-weight: 600
      font-size: 12px

.grid-banner
  padding: 90px 0
  .row
    margin-left: -10px
    margin-right: -10px
  .col-lg-4
    padding-left: 10px
    padding-right: 10px
  .item
    width: 100%
    position: relative
    overflow: hidden
    // background-color: #94d8d6
    margin-bottom: 20px
    &:before
      content: ""
      padding: 33.5% 0
      display: block

    &:last-child
      margin-bottom: 0
    &:hover
      .banner
        transform: scale(1.1)
    &.big
      &:before
        content: ""
        padding: 69% 0
      .text
        top: auto
        bottom: 0
  .text
    position: absolute
    width: 100%
    top: 0
    left: 0
    padding: 40px 35px
    .btn
      text-transform: capitalize
      text-decoration: none
      &:hover
        color: #FFF
  .banner
    position: absolute
    top: 0
    left: 0
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    width: 100%
    height: 100%
    transition: all 0.5s linear
  .catpro
    color: #000000
    // text-transform: uppercase
    max-resolution: 0 0 10px
    font-size: 20px
    line-height: 1.1
    font-weight: bold
  .catname
    color: #ffffff
    font-size: 28px
    font-family: Open Sans
    text-transform: uppercase
    margin: 0 0 15px

  +maxtablet
    .col-lg-4
      display: flex
      .item
        width: calc(50% - 5px)
        margin-right: 10px
        &.big
          width: 100%
          &:before
            padding: 45% 0
    .item
      &:last-child
        margin-right: 0
        margin-bottom: 20px
  +mobile
    .col-lg-4
      display: block
      .item
        width: 100%
        margin-right: 0
    .text
      padding: 20px
      .catpro
        font-size: 16px
      .catname
        font-size: 21px


.heading-text
  text-align: center
  max-width: 728px
  margin: 0 auto
  margin-bottom: 60px
  h2
    font-size: 40px
    letter-spacing: 0
    line-height: 1.1
    position: relative
    z-index: 1
    margin-bottom: 20px
    &:before
      content: "";
      background-image: url(../images/elemen-watercolor2.png)
      background-size: 18% auto
      background-position: center
      background-repeat: no-repeat
      width: 100%;
      height: 100%;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  +mobile
    h2
      font-size: 32px

.home-product-slider
  padding: 90px 0

.owl-carousel
  .owl-nav
    text-align: center
    .owl-prev,
    .owl-next
      width: 30px
      height: 30px
      background: #FFF !important
      border-radius: 50%
      border: 1px solid #000 !important
      position: relative
      margin: 0 1.5px
      outline: none
      transition: all 0.4s
      span
        background-image: url(../images/chevron-down-solid.svg)
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        width: 25px
        height: 25px
        display: inline-block
        vertical-align: middle
    .owl-prev
      span
        transform: rotate(90deg)
      &:before
        content: ""
        width: 50px
        height: 1px
        background: #000000
        position: absolute
        top: calc(50% - 1px)
        left: -50px
        transition: all 0.4s
      &:after
        content: ""
        width: 30px
        height: 1px
        background: #000000
        position: absolute
        top: calc(50% + 3px)
        left: -30px
        transition: all 0.4s
      &:hover
        background: #4c834a
        border-color: #4c834a
        &:before
          width: 30px
          left: -30px
        &:after
          left: -50px
          width: 50px
    .owl-next
      span
        transform: rotate(270deg)
      &:before
        content: ""
        width: 50px
        height: 1px
        background: #000000
        position: absolute
        top: calc(50% - 1px)
        right: -50px
        transition: all 0.4s
      &:after
        content: ""
        width: 30px
        height: 1px
        background: #000000
        position: absolute
        top: calc(50% + 3px)
        right: -30px
        transition: all 0.4s
      &:hover
        background: #4c834a
        border-color: #4c834a
        &:before
          width: 30px
          right: -30px
        &:after
          right: -50px
          width: 50px


.slider-hprdct,
.slider-tp
  .owl-stage-outer
    padding-top: 50px
  .item
    position: relative
    // width: 292px
    width: 351px
    padding: 0 35px 0px
    a
      position: relative
      text-decoration: none
      display: block
      &:hover
        text-decoration: none
  .owl-item.active.center
    transform: translateY(-50px)
    .item
      padding: 0
      .desc
        h3
          color: #4c834a
  .box-img
    width: 100%
    position: relative
    .img
      width: 100%
      position: relative
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      &:before
        content: ""
        padding: 58.8% 0
        display: block
  .tag-sale
    display: none
    position: absolute
    top: 0
    left: 0
    padding: 4px 10px
    color: #FFF
    background-color: #030d1d
    z-index: 3
    font-size: 13px
    line-height: 1.1
    font-weight: 600
  .desc
    text-align: center
    color: #9a9a9a
    padding: 20px 0
    background: #FFF
    h3
      font-size: 16px
      line-height: normal
      margin: 0 0 5px
      font-weight: 600
    .price
      font-weight: bold

.slider-tp
  .owl-stage-outer
    padding-bottom: 30px
  .item
    width: auto
    padding: 0
  .owl-item.active.center
    transform: translateY(0)
    .item
      padding: 0

.trending-product
  background-color: #fad75f
  padding: 90px 0 460px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  .nav.nav-tabs
    width: 100%
    text-align: center
    li
      display: inline-block
      margin-right: 15px;
      padding: 0;
      float: none;
      a
        font-weight: 600;
        padding: 3px 25px;
        font-size: 16px;
        display: inline-block;
        margin: 0 0px 0 0;
        background: #000000
        color: #ffffff
        text-decoration: none
        text-transform: uppercase
        &.active
          background: #4c834a


.special-categories
  margin-top: -375px
  padding-bottom: 90px
  .item
    border: 8px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.07);
  .box-img
    width: 100%
    position: relative
    overflow: hidden
    .img
      width: 100%
      position: relative
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      &:before
        content: ""
        padding: 58.8% 0
        display: block
    &:before
      content: '';
      position: absolute;
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(220, 233, 177,0.85) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(220, 233, 177,0.85) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(220, 233, 177,0.85) 100%);
      height: 100%;
      width: 100%;
      left: 0;
      top: 100%;
      transition: all 0.3s linear
      z-index: 3
    &:hover
      &:before
        top: 0
  .box-text
    border: none
    padding: 20px
    text-align: center
    h3
      margin: 0
      padding: 0
      a
        color: #4c834a
        text-decoration: none
        font-weight: bold;
        display: inline-block;
        width: 100%;
        padding: 0
        margin: 0
    .qtt
      span
        color: #030d1d;
        font-weight: bold;
        margin: 5px 0 0;
        font-size: 16px
        position: relative
        &:before
          content: "-"
          display: inline-block
          margin-right: 5px
        &:after
          content: "-"
          display: inline-block
          margin-left: 5px

.our-newsletter
  padding: 90px 0
  .heading-text
    margin-bottom: 20px
    h2
      margin-bottom: 20px
  .form-newsletter
    width: 738px
    margin: 0 auto
  .form-control
    display: inline-block;
    padding: 0 15px;
    height: 60px;
    width: calc(100% - 140px)
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    border: 1px solid #292929;
    vertical-align: middle
  .btn
    width: auto;
    display: inline-block;
    height: 60px;
    padding: 0px 25px;
    margin-left: -5px;
    margin-top: -1px;
    border: none
    vertical-align: middle
    &:hover
      background: #000
  +maxtablet
    .form-newsletter
      width: 100%

.latest-news
  padding: 90px 0

  .owl-stage-outer
    padding-bottom: 60px
  .item
    display: flex
    align-items: center
    .col-md-6
      padding-left: 10px
      padding-right: 10px
    .box-img
      width: 100%
      position: relative
    .img
      width: 100%
      position: relative
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      &:before
        content: ""
        padding: 58.8% 0
        display: block
    .box-text
      .date-auth
        margin-bottom: 10px
      h3
        font-size: 18px
        line-height: 1.1
        margin: 0 0 15px
        a
          color: #000000
          text-decoration: none
        &:hover
          color: #4c834a
      .short-desc
        padding-bottom: 10px
        border-bottom: 1px solid #e4e4e4
        margin-bottom: 20px
        font-size: 15px
        line-height: 1.7
  +maxtablet
    .item
      .col-md-6
        padding: 15px


.brands-partner
  padding: 90px 0
  .slider-bp
    .item
      padding: 10px

.our-services
  padding: 90px 0
  background: #f5f5f5
  .icon
    width: auto
    height: 30px
    margin: auto
    // background-size: auto 30px
    // background-repeat: no-repeat
    // background-position: center
    // z-index: 1
    // border-radius: 50%

  .icon-box
    width: 50px
    height: 50px
    margin: 0 auto
    border-radius: 50%
    transition: all 0.5s linear;
    position: relative
    z-index: 1
    display: flex
    &:before
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 0;
      height: 0;
      background: #ffffff;
      z-index: -1;
      border-radius: 50%;
      margin: auto;
      transition: all 0.5s linear;
      box-shadow: 0 0 10px rgba(0,0,0,0.1)
    &:hover
      cursor: pointer
      &:before
        width: 50px
        height: 50px
      .icon
        color: $primary
  .box-text
    max-width: 343px
    margin: 0 auto
    text-align: center
    h3
      font-size: 18px;
      margin-bottom: 10px;
      margin-top: 10px;
      position: relative;
      line-height: normal;



// Banner small

.banner-small
  width: 100%
  position: relative
  background-size: cover
  background-repeat: no-repeat
  background-position: 0 40%
  &:before
    content: ""
    width: 100%
    padding: 180px 0
    display: block
  &:after
    content: ""
    width: 100%
    height: 100%
    background: #000
    opacity: 0.8
    position: absolute
    top: 0
    left: 0

.title-breadcrumbs
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  h1
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    font-size: 2.25em;
    line-height: 1.5em
    font-weight: bold;
    color: #FFF
  .breadcrumbs
    li
      display: inline-block
      position: relative
      &:after
        content: "/"
        display: inline-block;
        font-size: 1em;
        padding-right: 2px;
        margin-right: 2px;
        margin-left: 2px
        color: #ffffff;
      &:last-child
        &:after
          display: none
    a,
    span
      padding-right: 2px
      margin-right: 2px
      color: #FFF
      text-decoration: none
      transition: color .3s ease
    a:hover
      color: $secondary


// Products
.products
  .products-wrapper
    padding: 64px 0 128px
  .side-filter
    h4
      color: #231f1e;
      padding: 0;
      border-radius: px;
      padding-bottom: 10px;
      font-size: 1.25em;
      border-bottom: 1px solid #dddddd
      margin-bottom: 15px
    .sec-filter
      margin-bottom: 50px
      &-price,
      &-type
        li
          margin-bottom: 16px
          &:last-child
            margin-bottom: 0
        label
          padding: 0 8px
  .filter-color
    a
      display: inline-block
      width: 28px
      height: 28px
      line-height: 0
      border: 2px solid #dddddd
      padding: 4px
      border-radius: 50%
      transition: all .3s ease
      margin-right: 15px
      span
        display: inline-block
        width: 100%
        height: 100%
        border-radius: 50%
      &:last-child
        margin-right: 0
      &:hover,
      &.active
        border-color: $primary
  .filter-prdct
    display: flex
    justify-content: space-between
    label
      font-size: 14px;
      font-weight: 600;
      margin: 0 10px 0 0;
      color: #151413;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      display: inline-block
      vertical-align: middle
  .view-mode
    border: 1px solid #e4e4e4;
    padding: 5px 12px;
    max-width: 190px
    display: inline-block
    vertical-align: middle
    a
      min-width: 19px;
      height: 26px;
      display: inline-block;
      vertical-align: middle
      margin-right: 10px
      margin-left: 0;
      position: relative;
      cursor: pointer;
      background-color: #000
      &:last-child
        margin-right: 0
  .show-sort
    max-width: 380px
    margin-left: -20px
  .select
    display: inline-block
    margin-right: 15px
    &:last-child
      margin-right: 0
    &.show
      width: 60px
    &.sort
      width: 150px
  .product-list
    padding-top: 30px
    padding-bottom: 30px
  .box-img
    width: 100%
    position: relative
    .img
      width: 100%
      position: relative
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      &:before
        content: ""
        padding: 58.8% 0
        display: block
  &-single-wrap
    .big-detail
      // width: calc(100% - 30px)
      // margin: 0 15px
    .thumbnail
      display: flex
      align-content: center
      justify-content: center
      padding: 20px 0
      margin-left: -15px
      margin-right: -15px
      a
        display: block
        margin: 0 15px
      .box-img
        width: 78px
        border: 1px solid $border
    .details
      margin: 0 0 0 15px
      h2
        font-weight: bold
        margin-bottom: 10px
      .price
        margin-bottom: 10px
        .now
          font-size: 22px;
          font-weight: bold;
          color: $secondary
        .real
          display: inline-block;
          margin-left: 5px;
          color: #aaaaaa;
          font-weight: normal;
          text-decoration: line-through
          font-size: 16px
      .avail
        display: flex
        label
          font-weight: 700
          width: 30%
          max-width:  150px
          margin-right: 20px
      .desc
        padding: 20px 0 30px
      dl
        +clearfix
        dt
          float: left
          width: 30%
        dd
          padding-left: 150px
          margin-bottom: 15px
      .price
        font-size: 22px;
        font-weight: bold;
        color: $secondary
      .sizes
        a
          display: inline-block
          padding: 3px 10px
          border: 2px solid $border
          color: $text
          margin-right: 10px
          text-decoration: none
          &:hover,
          &.active
            border-color: $primary
      .pd-action
        .btn
          font-weight: 700
          text-transform: capitalize
          font-family: Open Sans
          width: 100%
          margin-bottom: 15px
          display: inline-block
          &:nth-child(2)
            margin-right: 0 !important
          &:not(.btn-block)
            margin-right: 15px
            width: calc(50% - 10px)
  .tab-custom
    margin-top: 80px
    .nav
      &-tabs
        li
          display: inline-block
          margin-left: -6px
          &:first-child
            margin-left: 0
          a
            border: 1px solid #efefef;
            background: #fbfbfb;
            position: relative;
            margin: 0;
            padding: 10px 30px;
            letter-spacing: 0.5px;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            text-decoration: none
            color: $text
            &.active,
            &:hover
              color: $secondary
              border-top: 1px solid $secondary

  .tab
    margin-bottom: 40px
    +clearfix
    &-content
      margin-top: -17px
    &-pane
      border: 1px solid rgba(228,228,228,0.5);
      float: left;
      width: 100%;
      padding: 25px 30px;
      margin: 0px 0px 0px;
      article
        h4
          font-size: 18px;
          font-weight: 700;
          color: #030d1d
          margin-bottom: 15px
      .review
        &-head
          border-bottom: 1px solid $border
          padding-bottom: 20px
          margin-bottom: 20px
          h3
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
          .total-reivew
            display: flex
            justify-content: space-between
          a
            color: $text
        &-item
          padding-bottom: 20px
          border-bottom: 1px solid $border
          margin-bottom: 20px
          +clearfix
          &:last-child
            margin-bottom: 0
            border-bottom: 0
          .reviewer-title
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            padding: 0;
            border: none;
            font-weight: 700
          .date-name
            font-style: italic;
            font-size: 13px;
            opacity: 0.5;
            display: inline-block;
            margin: 0 0 1em 0;
          .rev-detail
            font-size: 13px;
            line-height: 20px;
            margin: 0;
            padding: 0;
          .report
            float: right;
            font-size: 11px;
            line-height: 16px;
            color: $text
            text-decoration: none
            &:hover
              color: $secondary


.related,
.recently
  padding: 40px 0



// About

.about
  &-wrapper
  .ab
    &-1
      .img-box
        width: 100%
        position: relative
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        &:before
          content: ""
          padding: 37.8% 0
          display: block
      .about-text
        width: 82%
        height: 100%
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        flex-direction: column
        h3,
        h4
          font-weight: bold
          margin-bottom: 15px
          line-height: 1.5em
        h3
          font-size: 27px
        h4
          font-size: 16px
          margin-bottom: 0
      .about-logo
        margin-bottom: 30px
        img
          max-height: 178px

      +maxtablet
        .about-text
          width: 100%
          padding-top: 60px
          h3
            font-size: 22px
        .about-logo
          img
            max-height: 100px
      +mobile
        .about-text
          padding-top: 40px

    &-2
      padding: 80px 0
      .item-wwd
        width: 100%
        border: 1px solid $secondary
        padding: 30px
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        margin-bottom: 24px
        transition: all .3s ease
        &:hover
          border-color: #000
          h4
            color: $secondary
          .aksen
            &:before,
            &:after
              background: #000
        a
          text-decoration: none
          color: #000
        h4
          color: #000
          font-size: 20px
          line-height: 1.5em
          font-weight: bold
          margin-bottom: 15px
          transition: all .3s ease
        .aksen
          width: 100%
          position: relative
          display: block
          margin-bottom: 20px
          transition: all .3s ease
          &:before
            content: ""
            display: inline-block
            width: 70px
            height: 1px
            background: $primary
            margin: 0 5px
            vertical-align: middle
            transition: all .3s ease
          &:after
            content: ""
            background: $primary
            position: relative
            vertical-align: middle
            width: 15px;
            height: 15px;
            border: 3px solid #FFF;
            display: inline-block
            position: absolute
            top: 6px
            left: 0
            right: 0
            margin: 0 auto
            transition: all .3s ease


// Contact
.contact
  .contact-wrapper
    padding: 80px 0
  .block-map
    margin-bottom: 30px
    .map
      width: 100%;
      height: 100%;
      padding-top: 50%;
      z-index: 1;
    +mobile
      .map
          padding-top: 100%
  .item-contact
    width: 100%
    border: 1px solid $secondary
    padding: 30px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    margin-bottom: 24px
    transition: all .5s ease
    flex-direction: column
    .icon
      display: flex
      width: 50px
      height: 50px
      border-radius: 50%
      background: $secondary
      margin-bottom: 20px
      text-align: center
      vertical-align: middle
      color: #FFF
      justify-content: center
      align-items: center
      transition: all 0.5s ease;
      .svg
        width: 20px
        height: 20px
    h4
      font-weight: bold
    b
      display: inline-block
      margin-right: 5px
    a
      color: #000
    p
      margin-bottom: 0
    &:hover
      border-color: #000
      .icon
        background-color: #000
  .contact-form
    padding-top: 40px
    h3
      font-weight: bold
      font-size: 36px
      line-height: 1.5em
      text-align: center
    .form-control
      height: auto
      padding: 15px 20px;

// Cart

.cart
  &-empty
    padding: 90px 0
    width: 100%
    display: flex
    align-content: center
    text-align: center
    justify-content: center
    flex-direction: column
    .box-img
      margin-bottom: 30px
    label
      font-size: 20px
      font-weight: bold
      margin-bottom: 20px
  &-content
    padding: 90px 0
    .img-box
      width: 180px;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 20px
      &:before
        content: ""
        padding: 50% 0
        display: block
    .text-box
      font-size: 15px
      h4
        font-weight: 700
        margin-bottom: 15px
      span
        display: block
        margin-bottom: 10px
        &.price,
        &.total-price
          font-weight: 700
      .total-item
        margin-bottom: 15px
      b
        display: inline-block
        margin-right: 5px
      .total-item
        height: 40px
        width: 140px
        background: #ccc
  &-item
    display: flex
    padding-bottom: 20px
    border-bottom: 1px solid #cccccc
  &-order-summary
    padding: 0 0 20px 0
    margin-bottom: 30px
    margin-bottom
    .subtotal
      display: flex
      justify-content: space-between
      font-weight: 700
      margin-bottom: 15px

  &-get-shipping
    .form-group
      padding: 0
      padding-bottom: 15px
      border: 0
  &-item-action
    padding-top: 20px
    display: flex
    justify-content: space-between

  &-title
    padding: 15px
    background: #f5f5f5
    border-bottom: 1px solid rgba(0,0,0,0.15)
    font-size: 15px
    line-height: 1.1em
    font-weight: 700


// Checkout

.checkout
  margin-top: -100px
  position: relative
  &:after
    content: ""
    width: 46%
    height: 100vh
    border-left: 1px solid $border
    background: #fafafa
    position: absolute
    top: 0
    right: 0
  &-r,
  &-l
    padding-top: 4em
    position: relative
    z-index: 3
  &-l
    padding-right: 6%
  &-r
    padding-left: 6%
  .header-logo
    img
  label
    font-weight: 500
  .breadcrumb
    ul
      display: flex
      flex-wrap: wrap
      margin-top: 1em
      li
        display: flex
        align-items: center
        a,
        span
          font-size: 0.85714em;
          color: $secondary;
        span
          color: #333
        .svg
          width: 10px
          height: 10px
          transform: rotate(-90deg)
          margin: 0 0.64286em
  .fg-heading
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 10px
    label
      width: auto
      font-weight: 500
    p
      font-size: 14px
      a
        color: $secondary
  .form-control
    border: 1px #d9d9d9 solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.92857em 0.78571em;
    word-break: normal;
    line-height: inherit;
    height: auto
    max-height: 45px
    margin-bottom: 15px
  .form-group
    &.filed
      .form-control
        padding-top: 1.5em;
        padding-bottom: 0.35714em;
  .floating-label
    font-size: 0.85714em;
    font-weight: normal;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0.42857em;
    margin-left: 1px;
    padding: 0 0.91667em;
    z-index: 1;
    user-select: none;
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    opacity: 0;
  .form-action
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
  .btn-primary
    width: auto
    padding: 1.4em 1.7em
    border-radius: 6px
  .btn-link
    padding: 0
    font-size: 14px
    color: $secondary
    text-transform: capitalize
    &:hover
      color: $secondary

  &-product-summary
  &-ps-item
    padding-bottom: 15px
    display: flex
    flex-wrap: wrap
    align-items: center
    border-bottom: 1px solid $border
    margin-bottom: 20px
    .img-box
      width: 65px
      height: 65px
      border: 1px solid $border
      border-radius: 6px
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 10px
    .text-box
      width: calc(100% - 120px)
    h4
      font-size: 15px
      line-height: 1em
      margin-bottom: 0
      font-weight: 700
    .detdesc
      font-size: 12px
      color: #717171
    .price
      text-align: right
      font-weight: 700
      font-size: 14px
  &-voucher
    padding-bottom: 20px
    border-bottom: 1px solid $border
    margin-bottom: 20px
  &-subtotal
    li
      display: flex
      justify-content: space-between
      span
        font-size: 14px
        &:last-child
          font-weight: 700
      &.total-final
        border-top: 1px solid $border
        margin-top: 20px
        padding-top: 20px
        span
          &:last-child
            font-size: 18px
            small
              font-size: 14px
              font-weight: 400