/* ------------------------------------------------------------------------------------------------ */
/* General */
/* ------------------------------------------------------------------------------------------------ */
.container-big
  width: 100%
  padding: 0 4%

ul
  padding: 0
  list-style: none

.btn
  background: #4c834a;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 8px 15px;
  color: #ffffff
  font-weight: 700
  border: none
  &-block
    display: block
    width: 100%
  &-transparent
    background: none;
    color: #000000;
    box-shadow: 0 0 0 1px #e4e4e4;
    border: none;
    margin-top: 0;
    &:hover
      background: #000
  &-link
    background: transparent
    font-weight: 400
    color: $secondary
  &:hover
    color: #ffffff
    text-decoration: none

main
  margin-top: 100px
  +maxtablet
    margin-top: 80px

.item-prdct
  position: relative
  width: 100%
  a
    position: relative
    text-decoration: none
    display: block
    &:hover
      text-decoration: none
  .box-img
    width: 100%
    position: relative
    .img
      width: 100%
      position: relative
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      &:before
        content: ""
        padding: 58.8% 0
        display: block
  .tag-sale
    display: none
    position: absolute
    top: 0
    left: 0
    padding: 4px 10px
    color: #FFF
    background-color: #030d1d
    z-index: 3
    font-size: 13px
    line-height: 1.1
    font-weight: 600
  .desc
    text-align: center
    color: #9a9a9a
    padding: 20px 0
    background: #FFF
    h3
      font-size: 16px
      line-height: normal
      margin: 0 0 5px
      font-weight: 600
    .price
      font-weight: bold
  &.has-sale
    .tag-sale
      display: inline-block

.tab-pane
  display: none
  opacity: 0
  transition: all .3s
  &.active
    display: block
    opacity: 1

//Box action product
.box-action
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 1
  opacity: 0
  transition: all .5s ease-in-out;
  background-color: #faf9ff
  transform-origin: 0 0;
  display: flex
  align-items: center;
  flex-flow: column;
  justify-content: space-around
  .action
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 3;
  .icon
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    display: block;
    padding: 0;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    transition: all 0.4s ease-in-out;
    .svg
      width: 14px
      height: 14px
    &:hover
      background: $primary;
      color: #ffffff;
  .img.overlay
    width: 300px !important
    max-width: 100% !important
    margin: 30px
    &:before
      padding: 39% 0 !important
  .btn-primary
    text-align: center
    width: 80%
    margin: 0 auto
    align-self: flex-end
.item,
.item-prdct
  .box-img:hover
    cursor: pointer
    .box-action
      height: 100%
      opacity: 1

// Star
.star
  margin-bottom: 8px
  color: $text
  i
    display: inline-block
    width: 13px
    height: 13px
    margin-right: 3px
    &:last-child
      margin-right: 0
  &.stared
    &-1
      i:nth-child(1)
        color: $primary
    &-2
      i
        &:nth-child(1),
        &:nth-child(2)
          color: $primary
    &-3
      i
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3)
          color: $primary
    &-5
      i
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4)
          color: $primary     
    &-5
      i
        color: $primary