/* ------------------------------------------------------------------------------------------------ */
/* General */
/* ------------------------------------------------------------------------------------------------ */
.container-big
  width: 100%
  padding: 0 4%

ul
  padding: 0
  list-style: none

.btn
  background: #4c834a;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 8px 15px;
  color: #ffffff
  font-weight: 700
  border: none
  text-align: center
  &-block
    display: block
    width: 100%
  &-transparent
    background: none;
    color: #000000;
    box-shadow: 0 0 0 1px #e4e4e4;
    border: none;
    margin-top: 0;
    &:hover
      background: #000
  &-link
    background: transparent
    font-weight: 400
    color: $secondary
  &.disabled
    background: $border
    pointer-events: none
  &:hover
    color: #ffffff
    text-decoration: none

main
  margin-top: 100px
  +maxtablet
    margin-top: 80px

.item-prdct
  position: relative
  width: 100%
  margin-bottom: 30px
  a
    position: relative
    text-decoration: none
    display: block
    &:hover
      text-decoration: none
  .box-img
    width: 100%
    position: relative
    .img
      width: 100%
      position: relative
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      &:before
        content: ""
        padding: 58.8% 0
        display: block
  .tag-sale
    display: none
    position: absolute
    top: 0
    left: 0
    padding: 4px 10px
    color: #FFF
    background-color: #030d1d
    z-index: 3
    font-size: 13px
    line-height: 1.1
    font-weight: 600
  .desc
    text-align: center
    color: #9a9a9a
    padding: 20px 0
    background: #FFF
    h3
      font-size: 16px
      line-height: normal
      margin: 0 0 5px
      font-weight: 600
    .price
      font-weight: bold
  &.has-sale
    .tag-sale
      display: inline-block

.tab-pane
  display: none
  opacity: 0
  transition: all .3s
  &.active
    display: block
    opacity: 1

//Box action product
.box-action
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 1
  opacity: 0
  transition: all .5s ease-in-out;
  background-color: #faf9ff
  transform-origin: 0 0;
  display: flex
  align-items: center;
  flex-flow: column;
  justify-content: space-around
  .action
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 3;
  .icon
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    display: block;
    padding: 0;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    transition: all 0.4s ease-in-out;
    .svg
      width: 14px
      height: 14px
    &:hover
      background: $primary;
      color: #ffffff;
  .img.overlay
    width: 300px !important
    max-width: 100% !important
    margin: 30px
    &:before
      padding: 39% 0 !important
  .btn-primary
    text-align: center
    width: 80%
    margin: 0 auto
    align-self: flex-end
.item,
.item-prdct
  .box-img:hover
    cursor: pointer
    .box-action
      height: 100%
      opacity: 1

// Star
.star
  margin-bottom: 8px
  color: $text
  i
    display: inline-block
    width: 13px
    height: 13px
    margin-right: 3px
    &:last-child
      margin-right: 0
  &.stared
    &-1
      i:nth-child(1)
        color: $primary
    &-2
      i
        &:nth-child(1),
        &:nth-child(2)
          color: $primary
    &-3
      i
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3)
          color: $primary
    &-5
      i
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4)
          color: $primary     
    &-5
      i
        color: $primary


//Modal search
#modalSearch
  .close
    position: fixed;
    top: 0;
    right: -45%;
    color: $text
    .svg
      width: 30px
      height: 30px
  .modal-lg
    max-width: 50%
  .modal-dialog
    transform: translate(100%, -50%);
  .modal-content
    border: none
  .search-form
    border-bottom: 1px solid #000
    .form-control
      font-size: 70px;
      height: auto;
      line-height: normal;
      border: none
      outline: none !important
      max-width: calc(100% - 90px)
      &::-webkit-input-placeholder
        color: $text
    button
      width: 80px
      height: 80px
      background: transparent
      border: none
      outline: none !important
      .svg
        width: 70px
        height: 70px
  &.show
    .modal-dialog
      transform: translate(0, 0);

body.backdrop-white
  .modal-backdrop
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 60px;
    height: 60px;
    position: fixed;
    top: -60px;
    right: -60px;
    left: inherit
    bottom: inherit
    background-color: #FFF
    &:before
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      /* background-color: rgba(255,255,255,0.98); */
      zoom: 1;
      background-color: transparent\9;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-delay: 2s
      // z-index: 9999;
      ransform: scale(1)
    &.fade.show
      opacity: 1
      top: 0
      right: 0
      &:before
        transform: scale(75)


//Modal Quick View
#modalQv
  .close
    position: absolute;
    top: 10px;
    right: 10px;
    color: $text
    z-index: 10
    .svg
      width: 20px
      height: 20px
  .modal-lg
    max-width: 55%
  .modal-content
    padding: 20px
    background: #FFF
  .box-img
    .img
      width: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &:before
        content: "";
        padding: 58.8% 0;
        display: block;
  .details
    margin: 0 0 0 15px
    h2
      font-weight: bold
      margin-bottom: 10px
    .price
      margin-bottom: 10px
      .now
        font-size: 22px;
        font-weight: bold;
        color: $secondary
      .real
        display: inline-block;
        margin-left: 5px;
        color: #aaaaaa;
        font-weight: normal;
        text-decoration: line-through
        font-size: 16px
    .avail
      display: flex
      label
        font-weight: 700
        width: 30%
        max-width:  150px
        margin-right: 20px
    .desc
      padding: 20px 0 30px
    dl
      +clearfix
      dt
        float: left
        width: 30%
      dd
        padding-left: 150px
        margin-bottom: 15px
    .price
      font-size: 22px;
      font-weight: bold;
      color: $secondary
    .sizes
      a
        display: inline-block
        padding: 3px 10px
        border: 2px solid $border
        color: $text
        margin-right: 10px
        text-decoration: none
        &:hover,
        &.active
          border-color: $primary
    .pd-action
      .btn
        font-weight: 700
        text-transform: capitalize
        font-family: Open Sans
        width: 100%
        margin-bottom: 15px
        display: inline-block
        &:nth-child(2)
          margin-right: 0 !important
        &:not(.btn-block)
          margin-right: 15px
          width: calc(50% - 10px)
  +responsive(1500px)
    .modal-lg
      max-width: 80%       
.qty
  display: flex
  max-width: 130px
  align-items: center
  .btn-number
    width: 40px
    height: 40px
    display: flex
    border: 1px solid $border
    text-align: center
    align-items: center
    justify-content: center
    color: $text
    .svg
      width: 15px
      height: 15px
  .input-number
    max-width: calc(100% - 80px)
    border-left: 0 !important
    border-right: 0 !important
    text-align: center !important
    background: #f5f5f5

.ZoomContainer
  top: 425px !important