extends templates/layout.pug

block vars
  - var activepage = "about";

block content
  .about
    .banner-small(style="background-image: url(images/FPK-2018091546.jpg)")
      .container-big
        .title-breadcrumbs
          h1 About
          ul.breadcrumbs
            li
              a(href='home.html') Home
            li
              span About
    .about-wrapper
      section.ab-1
        .container-fluid.no-gutter
          .row
            .col-lg.animate.fade-in
              .img-box(style="background-image: url(images/FPK-2018090628-croped.jpg)")
            .col-lg
              .about-text
                .about-logo.animate.fade-inb.delay
                  img(src="images/logo-golden-viera.png")
                h4.animate.fade-inb.delay Who are we?
                h3.animate.fade-inb.delay We empower e-com sites the world over
                p.animate.fade-inb.delay Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      section.ab-2
        .container
          .heading-text.animate.fade-in
            h2 What we <br>are doing
            p Includes Business as well Professionals
          .row
            .col-md-4.animate.fade-in.delay
              .item-wwd
                a(href="#")
                  span.icon
                    i.fa.fa-user
                  h4 Experts in Ecommerce
                  span.aksen
                  p Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
            .col-md-4.animate.fade-in.delay
              .item-wwd
                a(href="#")
                  span.icon
                    i.fa.fa-user
                  h4 Product Customization
                  span.aksen
                  p Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
            .col-md-4.animate.fade-in
              .item-wwd
                a(href="#")
                  span.icon
                    i.fa.fa-user
                  h4 End To End Solutions
                  span.aksen
                  p Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
            .col-md-4.animate.fade-in.delay
              .item-wwd
                a(href="#")
                  span.icon
                    i.fa.fa-user
                  h4 SEO Support For Clients
                  span.aksen
                  p Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
            .col-md-4.animate.fade-in.delay
              .item-wwd
                a(href="#")
                  span.icon
                    i.fa.fa-user
                  h4 Experts in Ecommerce
                  span.aksen
                  p Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
            .col-md-4.animate.fade-in.delay
              .item-wwd
                a(href="#")
                  span.icon
                    i.fa.fa-user
                  h4 Online Marketing Support
                  span.aksen
                  p Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
