extends templates/layout.pug

block vars
  - var activepage = "home";

block content
  .homepage
    .slider-home(style="background-image: url(images/slider-bg_1920X_green.jpg)")
      .container-big
        .slider
          .item.row
            .col-md-6
              .text.animate.fade-in-left
                h2 NEW ARRIVALS 2020
                h3 Accessories
                a.btn-wline(href="#") Shop Now
            .col-md-6
              .img-box
                img(src="images/img-01.jpg", alt="Img 01")

          .item.row
            .col-md-6
              .text.animate.fade-in-left
                h2 NEW ARRIVALS 2020
                h3 Cosmetics
                a.btn-wline(href="#") Shop Now
            .col-md-6
              .img-box
                img(src="images/FPK-2018091818.jpg", alt="Img 01")
          .item.row
            .col-md-6
              .text.animate.fade-in-left
                h2 NEW ARRIVALS 2020
                h3 Skin Care
                a.btn-wline(href="#") Shop Now
            .col-md-6
              .img-box
                img(src="images/FPK-2018091818.jpg", alt="Img 01")

    .home-category
      .container
        .row.justify-content-center.slider-xs
          .col-lg-2.col-md-4.animate.fade-in.delay
            .icon(style="background-image: url(images/icon-6.webp)")
            a.btn(href="#") CATEGORY 1
          .col-lg-2.col-md-4.animate.fade-in.delay
            .icon(style="background-image: url(images/icon-5.webp)")
            a.btn(href="#") CATEGORY 2
          .col-lg-2.col-md-4.animate.fade-in.delay
            .icon(style="background-image: url(images/icon-4.webp)")
            a.btn(href="#") CATEGORY 3
          .col-lg-2.col-md-4.animate.fade-in.delay
            .icon(style="background-image: url(images/icon-3.webp)")
            a.btn(href="#") CATEGORY 4
          .col-lg-2.col-md-4.animate.fade-in.delay
            .icon(style="background-image: url(images/icon-2.webp)")
            a.btn(href="#") CATEGORY 5
          .col-lg-2.col-md-4.animate.fade-in.delay
            .icon(style="background-image: url(images/icon-1.webp)")
            a.btn(href="#") CATEGORY 6

    .grid-banner
      .container-big
        .row.justify-content-center
          .col-lg-4.animate.fade-in.delay
            .item
              .banner(style="background-image: url(images/img-grid-banner-01.png);background-color: #94d8d6;")
              .text
                span.catpro BIG SALE
                h3.catname ORGANIC CREAM
                a.btn(href="#" style="background: #4a9593") Shop Now
            .item
              .banner(style="background-image: url(images/img-grid-banner-02.png);background-color:#e8f6d8;")
              .text
                span.catpro 20% OFF
                h3.catname(style="color: #000") ORGANIC CREAM
                a.btn(href="#" style="background: #73984e") Shop Now
          .col-lg-4.animate.fade-in.delay
            .item.big
              .banner(style="background-image: url(images/img-grid-banner.png);background-color:#f8edec;")
              .text
                span.catpro Big Million Offer
                h3.catname(style="color: #e4635b") ORGANIC CREAM
                a.btn(href="#" style="background: #d48c02") Shop Now
          .col-lg-4.animate.fade-in.delay
            .item
              .banner(style="background-image: url(images/img-grid-banner-02.png);background-color:#f9ced8;")
              .text
                span.catpro NEW
                h3.catname(style="color: #ca6786") ORGANIC CREAM
                a.btn(href="#" style="background: #ca6786") Shop Now
            .item
              .banner(style="background-image: url(images/img-grid-banner-01.png);background-color: #ffecdc;")
              .text
                span.catpro NATURAL
                h3.catname(style="color: #ca6786") ORGANIC CREAM
                a.btn(href="#" style="background: #ce8f68") Shop Now

    .home-product-slider.animate.fade-in
      .container-big
        .heading-text.animate.fade-pop
          h2 Awesome & Unique Features
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever

        .slider-hprdct
          .item.has-sale
            span.tag-sale Sale
            .box-img
              .img(style="background-image: url(images/img-product-01.jpg);")
              .box-action
                .action
                  a.cart(href="home-cart-filled.html")
                    i.icon
                      img.svg(src="images/shopping-cart-solid.svg")
                  a.link(href="products-single.html")
                    i.icon
                      img.svg(src="images/link-solid.svg")
                  a.like(href="#")
                    i.icon
                      img.svg(src="images/heart-regular.svg")

                .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
            .desc
                .star.stared-5
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                .name
                  h3 Lorem Ipsuem
                .price $389.00
          .item.has-sale
            a(href="#")
              span.tag-sale Sale
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")
                .box-action
                  .action
                    a.cart(href="home-cart-filled.html")
                      i.icon
                        img.svg(src="images/shopping-cart-solid.svg")
                    a.link(href="products-single.html")
                      i.icon
                        img.svg(src="images/link-solid.svg")
                    a.like(href="#")
                      i.icon
                        img.svg(src="images/heart-regular.svg")

                  .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                  a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
              .desc
                .star
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                .name
                  h3 Lorem Ipsuem
                .price $389.00
          .item.has-sale
            a(href="#")
              span.tag-sale Sale
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")
                .box-action
                  .action
                    a.cart(href="home-cart-filled.html")
                      i.icon
                        img.svg(src="images/shopping-cart-solid.svg")
                    a.link(href="products-single.html")
                      i.icon
                        img.svg(src="images/link-solid.svg")
                    a.like(href="#")
                      i.icon
                        img.svg(src="images/heart-regular.svg")

                  .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                  a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
              .desc
                .star
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                .name
                  h3 Lorem Ipsuem
                .price $389.00
          .item.has-sale
            a(href="#")
              span.tag-sale Sale
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")
                .box-action
                  .action
                    a.cart(href="home-cart-filled.html")
                      i.icon
                        img.svg(src="images/shopping-cart-solid.svg")
                    a.link(href="products-single.html")
                      i.icon
                        img.svg(src="images/link-solid.svg")
                    a.like(href="#")
                      i.icon
                        img.svg(src="images/heart-regular.svg")

                  .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                  a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
              .desc
                .star
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                .name
                  h3 Lorem Ipsuem
                .price $389.00
          .item.has-sale
            a(href="#")
              span.tag-sale Sale
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")
                .box-action
                  .action
                    a.cart(href="home-cart-filled.html")
                      i.icon
                        img.svg(src="images/shopping-cart-solid.svg")
                    a.link(href="products-single.html")
                      i.icon
                        img.svg(src="images/link-solid.svg")
                    a.like(href="#")
                      i.icon
                        img.svg(src="images/heart-regular.svg")

                  .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                  a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
              .desc
                .star
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                .name
                  h3 Lorem Ipsuem
                .price $389.00
          .item.has-sale
            a(href="#")
              span.tag-sale Sale
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")
                .box-action
                  .action
                    a.cart(href="home-cart-filled.html")
                      i.icon
                        img.svg(src="images/shopping-cart-solid.svg")
                    a.link(href="products-single.html")
                      i.icon
                        img.svg(src="images/link-solid.svg")
                    a.like(href="#")
                      i.icon
                        img.svg(src="images/heart-regular.svg")

                  .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                  a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
              .desc
                .star
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                  i
                    img.svg(src="images/star-solid.svg")
                .name
                  h3 Lorem Ipsuem
                .price $389.00

    .trending-product.animate.fade-in(style="background-image: url(images/img-6.jpg)")
      .container
        .heading-text
          h2 Awesome <br>Trending Products
        .tab-custom
          ul.nav.nav-tabs
            li.animate.fade-in-right.delay
              a.active(href="#trending" data-toggle="tab") Trending
            li.animate.fade-in-right.delay
              a(href="#bestsellers" data-toggle="tab") Best Sellers
            li.animate.fade-in-right.delay
              a(href="#newproducts" data-toggle="tab") New Products
        .tab-content
          #trending.tab-pane.active(data-toggle="tab")
            .slider-tp
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
          #bestsellers.tab-pane(data-toggle="tab")
            .slider-tp
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
          #newproducts.tab-pane(data-toggle="tab")
            .slider-tp
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00
              .item.has-sale.animate.fade-inb.delay
                a(href="#")
                  span.tag-sale Sale
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);")
                    .box-action
                      .action
                        a.cart(href="home-cart-filled.html")
                          i.icon
                            img.svg(src="images/shopping-cart-solid.svg")
                        a.link(href="products-single.html")
                          i.icon
                            img.svg(src="images/link-solid.svg")
                        a.like(href="#")
                          i.icon
                            img.svg(src="images/heart-regular.svg")

                      .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                      a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                  .desc
                    .star
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                      i
                        img.svg(src="images/star-solid.svg")
                    .name
                      h3 Lorem Ipsuem
                    .price $389.00

    .special-categories.animate.fade-in
      .container
        .heading-text
          h2 Special <br>Categories
        .row
          .col-md-4.animate.fade-inb.delay
            .item
              .box-img
                a(href="products.html")
                  .img(style="background-image: url(images/img-product-01.jpg);")
              .box-text
                h3
                  a(href="products.html") Lorem ipsum
                .qtt
                  span 11 items
          .col-md-4.animate.fade-inb.delay
            .item
              .box-img
                a(href="products.html")
                  .img(style="background-image: url(images/img-product-01.jpg);")
              .box-text
                h3
                  a(href="products.html") Lorem ipsum
                .qtt
                  span 11 items
          .col-md-4.animate.fade-inb.delay
            .item
              .box-img
                a(href="products.html")
                  .img(style="background-image: url(images/img-product-01.jpg);")
              .box-text
                h3
                  a(href="products.html") Lorem ipsum
                .qtt
                  span 11 items

    .latest-news.animate.fade-in
      .container
        .heading-text
          h2 Our <br>Latest News
        .slider-ln
          .item.row
            .col-md-6
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")

            .col-md-6
              .box-text
                .date-auth
                 span Sep 21 , 2019
                 span Author 1
                h3
                  a(href="#") The foundation to increase your face value!
                .short-desc
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligu...
                .btn-view
                  a.btn.btn-primary(href="#") Read More
                  a.view
          .item.row
            .col-md-6
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")

            .col-md-6
              .box-text
                .date-auth
                 span Sep 21 , 2019
                 span Author 1
                h3
                  a(href="#") The foundation to increase your face value!
                .short-desc
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligu...
                .btn-view
                  a.btn.btn-primary(href="#") Read More
                  a.view
          .item.row
            .col-md-6
              .box-img
                .img(style="background-image: url(images/img-product-01.jpg);")

            .col-md-6
              .box-text
                .date-auth
                 span Sep 21 , 2019
                 span Author 1
                h3
                  a(href="#") The foundation to increase your face value!
                .short-desc
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligu...
                .btn-view
                  a.btn.btn-primary(href="#") Read More
                  a.view

    .brands-partner.animate.fade-in
      .container
        .slider-bp
          .item.animate.fade-outs.delay
            img(src="images/client-1_250x250.png", alt="Client1")
          .item.animate.fade-outs.delay
            img(src="images/client-2_250x250.png", alt="Client2")
          .item.animate.fade-outs.delay
            img(src="images/client-3_250x250.png", alt="Client3")
          .item.animate.fade-outs.delay
            img(src="images/client-4_250x250.png", alt="Client4")
          .item.animate.fade-outs.delay
            img(src="images/client-5_250x250.png", alt="Client5")
          .item.animate.fade-outs.delay
            img(src="images/client-6_250x250.png", alt="Client6")

    .our-services.animate.fade-in
      .container-big
        .row
          .col-md-3.animate.fade-inb.delay
            .icon-box
              img.svg.icon(src="images/shipping-fast-solid.svg")
            .box-text
              h3 Free Ship Worldwide
              p You will get free home delivery to the items in your cart on your first purchase
          .col-md-3.animate.fade-inb.delay
            .icon-box
              img.svg.icon(src="images/gift-solid.svg")
            .box-text
              h3 Special Offers
              p Shop from our special offer day and get online shopping offers on multiple items.
          .col-md-3.animate.fade-inb.delay
            .icon-box
              img.svg.icon(src="images/shield-alt-solid.svg")
            .box-text
              h3 Special Offers
              p Shop from our special offer day and get online shopping offers on multiple items.
          .col-md-3.animate.fade-inb.delay
            .icon-box
              img.svg.icon(src="images/headset-solid.svg")
            .box-text
              h3 Special Offers
              p Shop from our special offer day and get online shopping offers on multiple items.

    .our-newsletter.animate.fade-in
      .container
        .heading-text
          h2 Join Our <br>Newsletter
          p Sale up to 20% off for your next purchase<br> in this month
        form.form-newsletter(action="")
          .form-group
            input.form-control(type="text")
            button.btn.btn-primary(type="submit") Subscribe



block modalLocal
  #modalQv.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalSearch' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        a.close(href="#" data-dismiss="modal")
          img.svg(src="images/times-solid.svg")
        .row
          .col-md-6
            .box-img
              .img(style="background-image: url(images/img-product-01.jpg);")
          .col-md-6
            .details
              h2 Product 1
              .desc
                p Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper 
              
              dl
                dt
                  label Price:
                dd
                  .price
                    span.now $300.00
                    small.real $350.00
                dt
                  label Availability:
                dd
                  span In Stock
                dt
                  label Size:
                dd
                  .sizes
                    a.active(href="#") L
                    a(href="#") S
                dt
                  label Quantity:
                dd
                  .form-group.qty
                    a.btn-number.min(href="#" data-type="minus" data-field="quant[1]")
                      i
                        img.svg(src="images/minus-solid.svg")
                    input.type-hidden(type="hidden" name="size" value="300")
                    input.form-control.input-number(type="number" placeholder="" name="quant[1]" value="1" min="0" max="20")
                    a.btn-number.plus(href="#" data-type="plus" data-field="quant[1]")
                      i
                        img.svg(src="images/plus-solid.svg")
                dt
                  label Subtotal:
                dd
                  .price $600.00
              .pd-action
                button.btn
                  span Add to chart