extends templates/layout.pug

block vars
  - var activepage = "product-single";

block content
  .products
    .banner-small(style="background-image: url(images/FPK-2018091546.jpg)")
      .container-big
        .title-breadcrumbs
          h1 Product 1
          ul.breadcrumbs
            li
              a(href='products.html') all
            li
              span Product 1
    .products-wrapper
      .container
        .row
          .col-lg-3
            .side-filter
              a.icon-menu
                i
                  img.svg(src="images/chevron-down-solid.svg")
              h4 Shop By Type
              .filter-ec
                ul.ec-wrapper#ec-filter
                  li.card
                    div.card-header#ec1-heading
                      a.collapsed(href="#" data-toggle="collapse" data-target="#ec1-content" aria-expanded="true" aria-controls="ec1") Eye Makeup
                    .collapse.how#ec1-content(aria-labelledby="#ec1-content" data-parent="#ec-filter")
                      ul
                        li
                          a(href="#") Makeup 1
                        li
                          a(href="#") Makeup 2
                        li
                          a(href="#") Makeup 3
                  li.card
                    div.card-header#ec2-heading
                      a.collapsed(href="#" data-toggle="collapse" data-target="#ec2-content" aria-expanded="true" aria-controls="ec2") Soap
                    .collapse.how#ec2-content(aria-labelledby="#ec2-content" data-parent="#ec-filter")
                      ul
                        li
                          a(href="#") Soap 1
                        li
                          a(href="#") Soap 2
                        li
                          a(href="#") Soap 3
                  li.card
                    div.card-header#ec3-heading
                      a.collapsed(href="#" data-toggle="collapse" data-target="#ec3-content" aria-expanded="true" aria-controls="ec2") Liquid Soap
                    .collapse.how#ec3-content(aria-labelledby="#ec3-content" data-parent="#ec-filter")
                      ul
                        li
                          a(href="#") Liquid Soap 1
                        li
                          a(href="#") Liquid Soap 2
                        li
                          a(href="#") Liquid Soap 3
                  li.card
                    div.card-header#ec2-heading
                      a.collapsed(href="#" data-toggle="collapse" data-target="#ec2-content" aria-expanded="true" aria-controls="ec2") Soap Pasta
                    .collapse.how#ec2-content(aria-labelledby="#ec2-content" data-parent="#ec-filter")
                      ul
                        li
                          a(href="#") Soap Pasta 1
                        li
                          a(href="#") Soap Pasta 2
                        li
                          a(href="#") Soap Pasta 3
              .sec-filter
                h4 Hot Deals
                .best-seller.slider-hd
                  .item-prdct
                    a(href="#")
                      //- span.tag-sale Sale
                      .box-img
                        .img(style="background-image: url(images/img-product-01.jpg);")
                      .desc
                        .star.stared-5
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                        .name
                          h3 Lorem Ipsuem 1
                        .price $389.00
                  .item-prdct
                      a(href="#")
                        //- span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                        .desc
                          .star.stared-5
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem 2
                          .price $389.00
                  .item-prdct
                      a(href="#")
                        //- span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                        .desc
                          .star.stared-5
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem 3
                          .price $389.00
                  .item-prdct
                    a(href="#")
                      .box-img
                        .img(style="background-image: url(images/img-product-01.jpg);")
                      .desc
                        .star.stared-5
                          i
                            img.svg(src="images/star-solid.svg")
                          i
                            img.svg(src="images/star-solid.svg")
                          i
                            img.svg(src="images/star-solid.svg")
                          i
                            img.svg(src="images/star-solid.svg")
                          i
                            img.svg(src="images/star-solid.svg")
                        .name
                          h3 Lorem Ipsuem 4
                        .price $389.00


          .col-lg-9
            .products-single-wrap.row
              .col-md-6
                .box-img.big-detail
                  img#zoom_1(src="images/img-01.jpg" width="397px")
                  //- .img(style="background-image: url(images/img-product-01.jpg);")
                  
                .thumbnail
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);" data-img="images/img-product-01.jpg")
                  .box-img
                    .img(style="background-image: url(images/FPK-2018091546.jpg);" data-img="images/FPK-2018091546.jpg")
                  .box-img
                    .img(style="background-image: url(images/img-product-01.jpg);" data-img="images/img-product-01.jpg")
              .col-md-6
                .details
                  h2 Product 1
                  .price
                    span.now $300.00
                    small.real $350.00
                  .rated
                  .avail
                    label Availability:
                    span In Stock
                  .desc
                    p Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis. Sample Unordered List Comodous in tempor ullamcorper miaculis Pellentesque vitae neque mollis urna mattis...
                  dl
                    dt
                      label Color:
                    dd
                      .filter-color
                        a.active(href="#")
                          span(style="background-color:#a89166;")
                        a(href="#")
                          span(style="background-color:#0f0212;")
                    dt
                      label Size:
                    dd
                      .sizes
                        a.active(href="#") L
                        a(href="#") S
                    dt
                      label Quantity:
                    dd
                      .form-group.qty
                        a.btn-number.min(href="#" data-type="minus" data-field="quant[1]")
                          i
                            img.svg(src="images/minus-solid.svg")
                        input.type-hidden(type="hidden" name="size" value="300")
                        input.form-control.input-number(type="number" placeholder="" name="quant[1]" value="1" min="0" max="20")
                        a.btn-number.plus(href="#" data-type="plus" data-field="quant[1]")
                          i
                            img.svg(src="images/plus-solid.svg")
                    dt
                      label Subtotal:
                    dd
                      .price $600.00
                  .pd-action
                    a.btn(href="cart.html")
                        span Add to chart
                    button.btn.btn-transparent
                      span Add to whislist
                    button.btn.btn-block.btn-transparent
                      span Buy it now
              .col-md-12
                .tab
                  .tab-custom
                    ul.nav.nav-tabs
                      li
                        a.active(href="#pd" data-toggle="tab") Product Description
                      li
                        a(href="#reviews" data-toggle="tab") Reviews
                      li
                        a(href="#sd" data-toggle="tab") Shipping Details
                  .tab-content
                    #pd.tab-pane.active(data-toggle="tab")
                      article.content
                        p Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras loremos.Donec pretium egestas sapien et mollis.
                        h4 Sample Unordered List
                        ul
                          li Comodous in tempor ullamcorper miaculis
                          li Pellentesque vitae neque mollis urna mattis laoreet.
                          li Divamus sit amet purus justo.
                          li Proin molestie egestas orci ac suscipit risus posuere loremous
                        h4 Sample Ordered Lista
                        ol
                          li Comodous in tempor ullamcorper miaculis
                          li Pellentesque vitae neque mollis urna mattis laoreet.
                          li Divamus sit amet purus justo.
                          li Proin molestie egestas orci ac suscipit risus posuere loremous

                        h4 Sample Paragraph Text
                        quote
                          p Praesent vestibulum congue tellus at fringilla. Curabitur vitae semper sem, eu convallis est. Cras felis nunc commodo eu convallis vitae interdum non nisl. Maecenas ac est sit amet augue pharetra convallis nec danos dui. Cras suscipit quam et turpis eleifend vitae malesuada magna congue. Damus id ullamcorper neque. Sed vitae mi a mi pretium aliquet ac sed elit. Pellentesque nulla eros accumsan quis justo at tincidunt lobortis denimes loremous. Suspendisse vestibulum lectus in lectus volutpat, ut dapibus purus pulvinar. Vestibulum sit amet auctor ipsum.
                    #reviews.tab-pane(data-toggle="tab")
                      .content
                        .review-head
                          h3 Customer Reviews
                          .total-reivew
                            .box-rate
                              .rate
                              span Based on 1 review
                            a(href="#") Write a review

                        .review-item
                          .rate
                          h4.reviewer-title Lorem ipsum dolor sit amet
                          .date-name
                            b.reviewer James Samuel
                            |  on
                            b.date  Feb 20, 2020
                          .rev-detail
                            p Integer vitae justo eget magna. Ultrices mi tempus imperdiet nulla malesuada pellentesque. Vitae sapien pellentesque habitant morbi.
                          a.report(href="#") Report as Inappropriate
                        .review-item
                          .rate
                          h4.reviewer-title Lorem ipsum dolor sit amet
                          .date-name
                            b.reviewer James Samuel
                            |  on
                            b.date  Feb 20, 2020
                          .rev-detail
                            p Integer vitae justo eget magna. Ultrices mi tempus imperdiet nulla malesuada pellentesque. Vitae sapien pellentesque habitant morbi.
                          a.report(href="#") Report as Inappropriate

                    #sd.tab-pane(data-toggle="tab")
                      article.content
                        h4 Returns policy
                        p You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).

                        p You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).

                        p If you need to return an item, simply login to your account, view the order using the 'Complete Orders' link under the My Account menu and click the Return Item(s) button. We'll notify you via e-mail of your refund once we've received and processed the returned item.

                        h4 Shipping details
                        p You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).

                        p You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).

                        p If you need to return an item, simply login to your account, view the order using the 'Complete Orders' link under the My Account menu and click the Return Item(s) button. We'll notify you via e-mail of your refund once we've received and processed the returned item.


              .col-md-12
                .related
                  .heading-text
                    h2 Related <br>Products
                  .slider-relprdct
                    .item-prdct.has-sale
                      a(href="#")
                        span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                          .box-action
                            .action
                              a.cart(href="#")
                                i.icon
                                  img.svg(src="images/shopping-cart-solid.svg")
                              a.link(href="products-single.html")
                                i.icon
                                  img.svg(src="images/link-solid.svg")
                              a.like(href="#")
                                i.icon
                                  img.svg(src="images/heart-regular.svg")
                            .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                            a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                        .desc
                          .star
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem
                          .price $389.00
                    .item-prdct.has-sale
                      a(href="#")
                        span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                          .box-action
                            .action
                              a.cart(href="#")
                                i.icon
                                  img.svg(src="images/shopping-cart-solid.svg")
                              a.link(href="products-single.html")
                                i.icon
                                  img.svg(src="images/link-solid.svg")
                              a.like(href="#")
                                i.icon
                                  img.svg(src="images/heart-regular.svg")
                            .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                            a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                        .desc
                          .star
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem
                          .price $389.00
                    .item-prdct.has-sale
                      a(href="#")
                        span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                          .box-action
                            .action
                              a.cart(href="#")
                                i.icon
                                  img.svg(src="images/shopping-cart-solid.svg")
                              a.link(href="products-single.html")
                                i.icon
                                  img.svg(src="images/link-solid.svg")
                              a.like(href="#")
                                i.icon
                                  img.svg(src="images/heart-regular.svg")
                            .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                            a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                        .desc
                          .star
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem
                          .price $389.00
                    .item-prdct.has-sale
                      a(href="#")
                        span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                          .box-action
                            .action
                              a.cart(href="#")
                                i.icon
                                  img.svg(src="images/shopping-cart-solid.svg")
                              a.link(href="products-single.html")
                                i.icon
                                  img.svg(src="images/link-solid.svg")
                              a.like(href="#")
                                i.icon
                                  img.svg(src="images/heart-regular.svg")
                            .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                            a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                        .desc
                          .star
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem
                          .price $389.00
                    .item-prdct.has-sale
                      a(href="#")
                        span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                          .box-action
                            .action
                              a.cart(href="#")
                                i.icon
                                  img.svg(src="images/shopping-cart-solid.svg")
                              a.link(href="products-single.html")
                                i.icon
                                  img.svg(src="images/link-solid.svg")
                              a.like(href="#")
                                i.icon
                                  img.svg(src="images/heart-regular.svg")
                            .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                            a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                        .desc
                          .star
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem
                          .price $389.00
                    .item-prdct.has-sale
                      a(href="#")
                        span.tag-sale Sale
                        .box-img
                          .img(style="background-image: url(images/img-product-01.jpg);")
                          .box-action
                            .action
                              a.cart(href="#")
                                i.icon
                                  img.svg(src="images/shopping-cart-solid.svg")
                              a.link(href="products-single.html")
                                i.icon
                                  img.svg(src="images/link-solid.svg")
                              a.like(href="#")
                                i.icon
                                  img.svg(src="images/heart-regular.svg")
                            .img.overlay(style="background-image: url(images/FPK-2018091546.jpg);")
                            a.btn.btn-primary(href="#" data-toggle='modal' data-target='#modalQv') Quick View
                        .desc
                          .star
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                            i
                              img.svg(src="images/star-solid.svg")
                          .name
                            h3 Lorem Ipsuem
                          .price $389.00

                .recently
                  .heading-text
                    h2 Recently <br>Viewed Products
                  .row
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00
                    .col-md-3
                      .item-prdct
                        a(href="#")
                          //- span.tag-sale Sale
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                          .desc
                            .star
                            .name
                              h3 Lorem Ipsuem 1
                            .price $389.00

