extends templates/layout.pug

block vars
  - var activepage = "account";

block content
  .about
    .banner-small(style="background-image: url(images/FPK-2018091546.jpg)")
      .container-big
        .title-breadcrumbs
          h1 Create Account
          ul.breadcrumbs
            li
              a(href='home.html') Home
            li
              span Create Account
    .login-wrapper
      .container
        .row.justify-content-center
          .col-md-4
            .account-form.animate.fade-inb
              form(action="")
                .form-group
                  input.form-control(type="text" placeholder="First Name")
                .form-group
                  input.form-control(type="text" placeholder="Last Name")
                .form-group
                  input.form-control(type="text" placeholder="Email")
                .form-group
                  input.form-control(type="assword" placeholder="Password")
                .form-action
                  button.btn.btn-primary(type="submit") Create
                  a.btn.btn-link(href="home.html") Return to store