extends templates/layout.pug

block vars
  - var activepage = "account";

block content
  .about
    .banner-small(style="background-image: url(images/FPK-2018091546.jpg)")
      .container-big
        .title-breadcrumbs
          h1 Account
          ul.breadcrumbs
            li
              a(href='home.html') Home
            li
              span Account
    .login-wrapper
      .container
        .row.justify-content-center
          .col-md-5
            .account-form.animate.fade-inb
              h3 Reset your password
              p We will send you an email to reset your password.
              form(action="")
                .form-group
                  input.form-control(type="text" placeholder="Email")
                .form-action
                  button.btn.btn-primary(type="submit") Submit
                  a.btn.btn-link(href="login.html") Cancel