footer.footer
  .container
    .footer-menu
      .row
        .col-md-3
          .footer-logo
            a(href="home.html")
              img(src="images/logo-golden-viera.png", alt="Golden Siera")
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard ...
        .col-md-3
          h3 Help
          ul
            li
              a(href="#") Search
            li
              a(href="#") Help
            li
              a(href="#") Information
            li
              a(href="#") Privacy Policy
            li
              a(href="#") Shipping Details
        .col-md-3
          h3 Support
          ul
            li
              a(href="#") Contact Us
            li
              a(href="#") About Us
            li
              a(href="#") Careers
            li
              a(href="#") Refund & Returns
            li
              a(href="#") Deliveries
        .col-md-3
          h3 Information
          ul
            li
              a(href="#") Search Terms
            li
              a(href="#") Advanced Search
            li
              a(href="#") Help & Faq's
            li
              a(href="#") Share Location
            li
              a(href="#") Order & Returns

    .socmed
      a.icon-twitter(href="https://twitter.com/" target="_blank")
      a.icon-facebook(href="https://www.facebook.com/" target="_blank")
      //- a.icon-pinterest(href="https://pinterest.com/" target="_blank")
      a.icon-instagram(href="https://www.instagram.com/" target="_blank")
      //- a.icon-tumblr(href="https://www.tumblr.com/" target="_blank")
    .cpyright
      p Copyright © 2020, Golden Viera