header.header
  .header-wrap
    .container-fluid
      .row
        .col-lg-2.col-md-2
          a.header-logo(href="home.html")
            img(src="images/logo-golden-viera.png")
        .col-lg-8.col-md-7
          nav.header-nav
            ul
              li(class=activepage=="home"?"current-menu":"")
                a(href="home.html") Home
              li.has-child(class=activepage=="product"?"current-menu":"")
                a(href="products.html") Catalog
                .sub-menu
                  .row
                    .col-lg-7
                      .row
                        .col-lg-4
                          span.head-sm Head Submenu
                          ul
                            li
                              a(href="") Lorem ipsuem
                            li
                              a(href="#") Lorem ipsuem doloer
                            li
                              a(href="#") Active Original Deodorant
                            li
                              a(href="#") Lorem ipsuem doloer
                            li
                              a(href="#") Active Original Deodorant
                        .col-lg-4
                          span.head-sm Head Submenu
                          ul
                            li
                              a(href="#") Lorem ipsuem
                            li
                              a(href="#") Lorem ipsuem doloer
                            li
                              a(href="#") Lorem ipsuem doloer
                            li
                              a(href="#") Active Original Deodorant
                            li
                              a(href="#") Lorem ipsuem doloer
                        .col-lg-4
                          span.head-sm Head Submenu
                          ul
                            li
                              a(href="#") Lorem ipsuem
                            li
                              a(href="#") Lorem ipsuem doloer
                            li
                              a(href="#") Lorem ipsuem doloer
                            li
                              a(href="#") Active Original Deodorant
                            li
                              a(href="#") Lorem ipsuem doloer
                    .col-lg-5
                      .row
                        .col-lg-6
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
                        .col-lg-6
                          .box-img
                            .img(style="background-image: url(images/img-product-01.jpg);")
              li(class=activepage=="about"?"current-menu":"")
                a(href="about.html") About
              //- li
              //-   a(href="#") Skin Care
              //- li
              //-   a(href="#") Body Care
              //- li
              //-   a(href="#") Make Up
              li(class=activepage=="contact"?"current-menu":"")
                a(href="contact.html") Contact
        .col-lg-2.col-md-3
          .header-right
            ul
              li
                a(href="#" style="background-image: url(images/heart-solid.svg)")
              li.has-child
                a(href="#" style="background-image: url(images/shopping-bag-solid.svg)")
                //- .sub-menu
                //-   ul
                //-     li
                //-       a(href="cart.html")
              li.has-child
                a(href="#" style="background-image: url(images/user-solid.svg)")
              li
                a(href="#" style="background-image: url(images/search-solid.svg)")
            .burger-icon
              span
              span
              span
